.DS_Store
Thumbs.db
.idea/
.vscode/

logs/
*.log
npm-debug.log*
pnpm-debug.log*

node_modules/

backend/dist/
frontend/dist/

backend/src/generated/prisma/

.env
.env.*
!.env.example

db_data/
prisma/migrations/migration_lock.toml

scan_structure.py
